<% @title = 'Instances' %>
<%= json_table(@servers, "state", "id", "availability_zone", "flavor_id", "groups") %>
<br />
<% unless @servers.empty? %>

    <div id="instances">
        <% @servers.each_with_index do |instance, i| %>
    
            <div class="instance<% if i % 2 == 1%> odd<% end %>">
                [<b class="state state-<%= instance[:aws_state] %>">
                    <%= instance["id"] %>
                    <span title="<%= instance['id'] %>"><%= instance['state'] %></span>
                </b>]
                
                <%= link_to instance["id"], "/images/search/#{instance["id"]}" %>
                
                launched <%= time_ago_or_time_stamp(Time.parse(instance["created_at"])) %>
                
                <%= link_to(image_tag('info.png', :alt => 'Console Output'), "/#{@project}/instance/#{instance["id"]}/output") %>
                
                <% if instance['state'] == 'running' %>
                    <%= link_to image_tag('reboot.png', :alt => 'Reboot Instance'), "/#{@project}/instance/#{instance['id']}/reboot", :onclick => "return confirm('Reboot: Are you sure?')"  %>
                    <%= link_to image_tag('minus.png', :alt => 'Terminate Instance'), "/#{@project}/instance/#{instance['id']}/terminate", :onclick => "return confirm('Terminate: Are you sure?')" %>
                <% end %>
                
                <div>
                    <small>
                        Type: <%= instance['flavor_id'] %>, Groups: <% instance['groups'].each do |group| %><%= link_to group, "/groups##{group}" %><% end %>, 
                        Key: <%= link_to instance['id'], "/#{@project}/keys##{instance['id']}" %>, Zone: <%= instance["availability_zone"] %>
                    </small>
                </div>
                
                <% if instance['state'] == 'running' %>
                    <div>
                        Public: <span><%= instance['dns_name'] %></span> <a href="http://<%= instance['dns_name'] %>" target="_new">url</a><br/>
                        Private: <span><%= instance['private_dns_name'] %></span><br/>
                        <% if instance['chefified'] %> <%= link_to 'Chef Information', "/#{@project}/instance/#{instance['id']}/Chef"  %> <% end %>
                    </div>
                <% end %>
                
            </div>
        <% end %>
    </div>

<% else %>

    <p><i>You have no current instances.</i></p>
    <p><%= link_to 'Choose an image', "/#{@project}/images" %> to launch a new instance.</p>

<% end %>